<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Angularjs - Demo 01">
    <meta name="author" content="Gino Luiggi Chirinos Plasencia">
    <title>ANGULARJS - DEMO FILTERS</title>

    <base id="base-app" href="/angularjs-demos/angularjs-demo-filters/app/">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
</head>

<body>
    <app-navbar></app-navbar>

    <div id="wrap-container" class="container" ng-controller="HomeController">
        <div class="page-header">
            <h3>Default Filters</h3>
        </div>

        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th class="text-center" style="width: 35%;">Entrada</th>
                    <th class="text-center">Filter</th>
                    <th class="text-center">Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{ amount }}</td>
                    <td class="text-center">currency</td>
                    <td class="text-center">{{ amount | currency }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ amount }}</td>
                    <td class="text-center">currency: '$USD'</td>
                    <td class="text-center">{{ amount | currency: '$USD' }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ amount }}</td>
                    <td class="text-center">currency: '$USD': 0</td>
                    <td class="text-center">{{ amount | currency: '$USD': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ now }}</td>
                    <td class="text-center">date</td>
                    <td class="text-center">{{ now | date }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ now }}</td>
                    <td class="text-center">date: 'MM/dd/yyyy'</td>
                    <td class="text-center">{{ now | date: 'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ now }}</td>
                    <td class="text-center">date: date:'yyyy-MM-dd HH:mm:ss'</td>
                    <td class="text-center">{{ now | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ countries }}</td>
                    <td class="text-center">filter: 'e'</td>
                    <td class="text-center">{{ countries | filter: 'e' }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ friends }}</td>
                    <td class="text-center">filter: {name: 'a'}</td>
                    <td class="text-center">
                        <ul>
                            <li ng-repeat="friend in friends | filter: {name: 'm'}">
                                {{ friend.name }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">{{ number }}</td>
                    <td class="text-center">number</td>
                    <td class="text-center">{{ number | number }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ number }}</td>
                    <td class="text-center">number: 0</td>
                    <td class="text-center">{{ number | number: 0 }}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ name }}</td>
                    <td class="text-center">uppercase</td>
                    <td class="text-center">{{ name | uppercase}}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ name }}</td>
                    <td class="text-center">lowercase</td>
                    <td class="text-center">{{ name | lowercase}}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ numbers }}</td>
                    <td class="text-center">limitTo: 3</td>
                    <td class="text-center">{{ numbers | limitTo: 3}}</td>
                </tr>
                <tr>
                    <td class="text-center">{{ numbers }}</td>
                    <td class="text-center">limitTo: 3: 1</td>
                    <td class="text-center">{{ numbers | limitTo: 3: 1}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Filter: json</h4>
        <hr />
        <pre>{{ friends | json }}</pre>

        <br /><br />

        <h4>Filter: orderBy</h4>
        <hr />

        <div class="form-group">    
            <button type="button"
                    class="btn btn-primary"
                    ng-click="reverse = false">
                Sort ASC
            </button>
            &nbsp;&nbsp;
            <button type="button"
                    class="btn btn-primary"
                    ng-click="reverse = true">
                Sort DESC
            </button>
        </div>

        <ul>
            <li ng-repeat="friend in friends | orderBy: 'name': reverse">
                {{ friend.name }}
            </li>
        </ul>

        <br /><br />
        <h4>Custom filter: reverse</h4>
        <hr />
        <p>{{ greeting | reverse }}</p>
        <p>{{ greeting | reverse: true }}</p>
    </div>

    <app-footer></app-footer>

    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.min.js"></script>

    <script type="text/javascript" src="./app.js"></script>

</body>

</html>